services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Chicago
      - DUPLICATI_SETTINGS_ENCRYPTION_KEY=${DUPLICATI_SETTINGS_ENCRYPTION_KEY}
    labels:
      # - "com.centurylinklabs.watchtower.enable=true"
      # - "com.centurylinklabs.watchtower.scope=monitor"
      - "traefik.enable=true"
      - "traefik.http.routers.duplicati.entrypoints=https-internal"
      - "traefik.http.routers.duplicati.rule=Host(`duplicati.cookiecollective.net`)"
      - "traefik.http.routers.duplicati.tls=true"
      - "traefik.http.routers.duplicati.tls.certresolver=production"
      - "traefik.http.services.duplicati.loadbalancer.server.port=8200"
    volumes:
      - ./duplicati/config:/config
      - /mnt/docker/stacks:/source/stacks
      - /mnt/docker/apps:/source/apps
      - /mnt/docker_extras/backup:/destination
    restart: unless-stopped
    ports:
      - 8200:8200
    networks:
      - management
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    hostname: portainer
    environment:
      -PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    labels:
      # - "com.centurylinklabs.watchtower.enable=true"
      # - "com.centurylinklabs.watchtower.scope=monitor"
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.entrypoints=https-internal"
      - "traefik.http.routers.portainer.rule=Host(`portainer.cookiecollective.net`)"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.routers.portainer.tls.certresolver=production"
      - "traefik.http.services.portainer.loadbalancer.server.port=9443"
      - "traefik.http.services.portainer.loadbalancer.server.scheme=https"
      - "traefik.http.services.portainer.loadbalancer.passhostheader=true"
    volumes:
      - ./portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - management
  unifi-db:
    image: docker.io/mongo:8.0
    container_name: unifi-db
    # labels:
    #   - "com.centurylinklabs.watchtower.enable=true"
    #   - "com.centurylinklabs.watchtower.scope=monitor"
    volumes:
      - ./unifi-network-application/db:/data/db
      - ./unifi-network-application/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    restart: unless-stopped
    networks:
      - unifi-backend
  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:10.0.162
    container_name: unifi-network-application
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - MONGO_USER=unifi
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
      - MEM_LIMIT=1024 #optional
      - MEM_STARTUP=1024 #optional
      - MONGO_TLS= #optional
      - MONGO_AUTHSOURCE= #optional
    labels:
      # - "com.centurylinklabs.watchtower.enable=true"
      # - "com.centurylinklabs.watchtower.scope=monitor"
      - "traefik.enable=true"
      - "traefik.http.routers.unifi.entrypoints=https-internal,https-external"
      - "traefik.http.routers.unifi.rule=Host(`unifi.cookiecollective.net`)"
      - "traefik.http.routers.unifi.tls=true"
      # - "traefik.http.routers.unifi.tls.passthrough=true"
      - "traefik.http.routers.unifi.tls.certresolver=production"
      - "traefik.http.routers.unifi.service=unifi"
      - "traefik.http.services.unifi.loadbalancer.server.port=8443"
      - "traefik.http.services.unifi.loadbalancer.server.scheme=https"
      - "traefik.http.services.unifi.loadbalancer.passhostheader=true"
      - "traefik.docker.network=management"
    volumes:
      - ./unifi-network-application/config:/config
      - /mnt/docker_extras/backup/stacks/management/unifi-network-application/:/config/data/backup/autobackup/
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped
    networks:
      - unifi-backend
      - management
networks:
  unifi-backend:
    external: true
  management:
    external: true
  servarr:
    external: true
